import init.recovery.${ro.product.device}.rc

on early-init
    insmod /boot/dwc3.ko

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller ${vendor.usb.controller}

on fs
    wait /dev/block/platform/${ro.boot.boot_devices}
    symlink /dev/block/platform/${ro.boot.boot_devices} /dev/block/bootdevice

on post-fs-data
    chown system system /sys/class/android_usb/android0/f_mass_storage/lun/file
    chmod 0660 /sys/class/android_usb/android0/f_mass_storage/lun/file
    chown system system /sys/class/android_usb/android0/f_rndis/ethaddr
    chmod 0660 /sys/class/android_usb/android0/f_rndis/ethaddr

on boot
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /config/usb_gadget/g1/bcdDevice 0x0223
    write /config/usb_gadget/g1/bcdUSB 0x0200
    write /config/usb_gadget/g1/strings/0x409/manufacturer droidlogic
    write /config/usb_gadget/g1/strings/0x409/product ${ro.product.name}
    write /config/usb_gadget/g1/configs/b.1/MaxPower 500
    setprop sys.usb.mtp.device_type 3
    write /sys/class/unifykeys/attach 1

    rm /dev/block/by-name/mmcblk0boot0
    rm /dev/block/by-name/mmcblk0boot1

    symlink /dev/block/bootloader0 /dev/block/by-name/bootloader_a
    symlink /dev/block/bootloader1 /dev/block/by-name/bootloader_b
    symlink /dev/dtb /dev/block/by-name/dt_a
    symlink /dev/dtb /dev/block/by-name/dt_b
    symlink /dev/platform/soc/fe08c000.mmc/by-name/logo /dev/block/by-name/logo_a
    symlink /dev/platform/soc/fe08c000.mmc/by-name/logo /dev/block/by-name/logo_b

service systemcontrol /system/bin/systemcontrol_static /system/etc/mesondisplay.cfg
    oneshot
    seclabel u:r:recovery:s0

on property:sys.usb.config=adb && property:sys.usb.configfs=1
    write /sys/class/usb_role/ffe09000.usb-role-switch/role device

on property:sys.usb.config=none && property:sys.usb.configfs=1
    setprop sys.usb.state ${sys.usb.config}

# USB mode changes
on property:sys.usb.typec.mode=dfp
    write /sys/class/dual_role_usb/otg_default/mode ${sys.usb.typec.mode}
    setprop sys.usb.typec.state ${sys.usb.typec.mode}

on property:sys.usb.typec.mode=ufp
    write /sys/class/dual_role_usb/otg_default/mode ${sys.usb.typec.mode}
    setprop sys.usb.typec.state ${sys.usb.typec.mode}
