on fs
  chown bluetooth bluetooth /sys/module/amlogic_wireless/parameters/btpower_evt
  chmod 0666 /sys/module/amlogic_wireless/parameters/btpower_evt

  chown bluetooth bluetooth /sys/module/bt_device/parameters/btpower_evt
  chmod 0666 /sys/module/bt_device/parameters/btpower_evt

  chown bluetooth bluetooth /sys/module/amlogic_wireless/parameters/btwake_evt
  chmod 0666 /sys/module/amlogic_wireless/parameters/btwake_evt

  chown bluetooth bluetooth /sys/module/bt_device/parameters/btwake_evt
  chmod 0666 /sys/module/bt_device/parameters/btwake_evt

on property:vendor.wifi_name=bcm
   chown system wifi /sys/module/dhd/parameters/firmware_path
   chmod 0660 /sys/module/dhd/parameters/firmware_path
   chown system wifi /sys/module/bcmdhd/parameters/firmware_path
   chmod 0660 /sys/module/bcmdhd/parameters/firmware_path
   chown system wifi /sys/module/dhdpci/parameters/firmware_path
   chmod 0660 /sys/module/dhdpci/parameters/firmware_path
   setprop wifi.direct.interface p2p-dev-wlan0

on property:vendor.wifi_name=rtl
   setprop wifi.direct.interface ap0

on property:vendor.wifi_name=rtl8852bs
   setprop wifi.direct.interface p2p0

on property:vendor.wifi_name=rtl8852be
   setprop wifi.direct.interface p2p0

on property:vendor.wifi_name=mtk
   setprop wifi.direct.interface p2p0

on property:vendor.wifi_name=qca
   setprop wifi.direct.interface ap0

on property:vendor.wifi_name=aml
   setprop wifi.direct.interface ap0

on property:vendor.wifi_name=nxp
   setprop wifi.direct.interface p2p0

on property:vendor.wifi_name=atbm603x
   setprop wifi.direct.interface ap0
   setprop ro.vendor.platform.wifi.suspend true
   setprop persist.vendor.wifi_remove true

on property:vendor.w1_wifi_type=ap
   write /sys/module/vlsicomm/parameters/con_mode 6

on property:vendor.w1_wifi_type=p2p
   write /sys/module/vlsicomm/parameters/con_mode 130
